.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: rgba(134, 134, 134, 0.7);
  border-radius: 6%;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.signin-container{
  padding-top: 30px;
  margin-right: 10px;
  margin-top: 100px;
}

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: rgba(134, 134, 134, 0.7);
  border-radius: 6%;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signup .checkbox {
  font-weight: normal;
}
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}

.form-signup input[type="name"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.signup-container{
  padding-top: 30px;
  margin-right: 10px;
  margin-top: 100px;
}
.upload-container{
  width: 70%;
  padding-top: 120px;
}
/* parallax example */
/*.bg {
  background: url('/assets/example/bg_blueplane.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; same height as jumbotron
  top:0;
  left:0;
  z-index: -1;
}
.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}*/


/* parallax test */
.bg {
  background:  url(../images/landingImage-parallax-blur-dark.jpg) no-repeat center center;
  position: fixed;
  width: 100%;
  height: 550px; /*same height as jumbotron*/
  top:0;
  left:0;
  z-index: -1;
}
.jumbotron {
  height: 550px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background: transparent;
}



/* parallax (original)*/
/*.jumbotron {
  height: 550px;
  background-image:  url(../images/landingImage.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}
}*/

/*.opacity-div{
 height: 460px;
 width: 650px;
 background-color: rgba(0,0,0, .9);
 border-radius: 6%;
}*/
.egg-img-div{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.table-parent{
  display: flex;
  justify-content: center;
}
.scroll{
  overflow: auto;
  height: 500px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}
.navbar{

}
.white-header-text{
  color: white;
}
#landing-h1{
  text-align: center;
  color: white;
  /*color: black;*/
}
#egg-img{
  text-align: center;
  padding-top: 200px;
}
p {
  text-align: center;
  color: white;
}

/*
  index page 'about' section
*/
.black-text, .black-text > p, h2{
  color: black;
  text-align: center;
}
.info {
  margin: 0 auto;
}
.attribution-pic {
  height: 100px;
  border-radius: 50%;
}
/*.attribution-pic img:hover{
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}*/
.attribution-text {
  text-align: center;
}
.contribution-pic {
  height: 100px;
  border-radius: 50%;
}
.contributors img{
  margin:10px;
}
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*.contributors img:hover{
  /*opacity: 0.5;*/
  /*-moz-box-shadow:    1px 1px 4px 5px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 1px 4px 5px #ccc;
  box-shadow:         1px 1px 4px 5px #ccc;
}*/
.info-row {
  margin-bottom: 30px;
}
#eggbasket{
  margin-bottom: -11px;
  margin-top: -20px;
}
p{
  text-align: center;
  color: white;
}
h1{
  color: antiquewhite;
